:root {
  --primary-color: #202020;
  --secondary-color-hue: 311;
  --secondary-color: hsl(var(--secondary-color-hue), 100%, 30%);
  --secondary-color-dark: hsl(var(--secondary-color-hue), 100%, 22%);
  --secondary-color-light: hsl(var(--secondary-color-hue), 100%, 70%);
  --radius: 0.3rem;
  --page-clamp: clamp(300px, 65vw, 800px);
  --warning-color: rgb(255, 95, 95);
  --success-color: rgb(116, 209, 116);
  --grey: #bebebe;
  --dark-grey: #3a3a3a;
}
